/* Font Styles */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald&display=swap");

/* SrollBar */
::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  /* background-color: black; */
}

h1 {
  font-family: "Oswald", sans-serif;
}

hr {
  opacity: 0.4;
  width: 95vw;
  margin: 0 auto;
}

.app {
  min-height: 100vh;
  position: relative;
  color: white;
  font-family: "Noto Sans", sans-serif;
}

/* background Image */
.bg-img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -10;
}

/* Navigation Menu */
.drop-down {
  display: none;
}

.nav-bar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar li {
  list-style: none;
  cursor: pointer;
  opacity: 0.8;
  transition: 200ms;
}

.nav-bar li:hover {
  opacity: 1;
}

.nav-planets {
  width: 50vw;
}

.main-nav {
  display: flex;
  justify-content: space-evenly;
}

/* Planet Details */
.planet-dts {
  width: 80vw;
  height: 80vh;
  margin: 10vh auto;
  position: relative;
}

/* TOP PART */
.planet-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.planet-top-data {
  width: 25vw;
}

.planet-top-data h1 {
  font-size: 4rem;
}

.des {
  opacity: 0.9;
  width: 90%;
  min-height: 15vh;
  padding: 5vh 0;
}

.des p {
  margin: auto 0;
}

.button {
  padding: 1vh 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  margin: 10px 0;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}

.button-bg {
  background-color: rgb(104, 60, 209);
  border: none;
}

/* BOTTOM PART */
/*Num Data*/
.num-data-set {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* gap: 5vw; */
  margin: 4vh auto;
}

.num-data {
  border: solid 1px rgba(255, 255, 255, 0.5);
  padding: 10px;
  width: 20%;
}

.num-data h3 {
  font-size: 0.8rem;
  opacity: 0.7;
}

/* Media Queries */

/* Tablets */
@media (max-width: 1200px) {
  /* Nav Bar */
  .nav-bar {
    flex-direction: column;
  }

  .nav-planets {
    width: 95vw;
    margin-top: 20px;
  }

  /* Planet Details */
  .planet-dts {
    height: auto;
  }

  /* Top */
  .planet-top {
    flex-direction: column;
  }

  .planet-img {
    width: 40vw;
  }

  .planet-top-data {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .button {
    min-width: 30vw;
  }

  .des {
    width: 50%;
  }

  .des h1 {
    font-size: 3rem;
  }

  .des p {
    font-size: 0.9rem;
  }

  .num-data-set {
    position: relative;
  }

  .num-data h3 {
    font-size: 0.7rem;
  }

  .num-data h1 {
    font-size: 1.6rem;
  }
}

/* Mobile Phones */
@media (max-width: 705px) {
  /* navigation menu */
  .nav-bar {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-planets {
    width: 20vw;
    margin: auto 0;
  }

  .main-nav {
    display: none;
  }

  .drop-down {
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: absolute;
  }

  .drop-down-btn {
    cursor: pointer;
  }

  .drop-down-menu {
    display: none;
  }

  .drop-down-menu-show {
    display: flex;
    flex-direction: column;
  }

  .drop-down ul {
    /* position: absolute; */
    /* display: flex; */
    /* flex-direction: column; */
    /* z-index: 10;s */
  }

  /* Planet Details */
  .planet-top-data {
    flex-direction: column;
  }

  .planet-img {
    width: 60vw;
  }

  .des {
    width: 90%;
    text-align: center;
  }

  .state-buttons {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
  }

  .button {
    font-size: 0.9rem;
  }

  .num-data-set {
    flex-direction: column;
  }

  .num-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 10px 0;
  }

  .num-data h3 {
    font-size: 0.8rem;
  }
}

/* Next query 705px */
